<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-10 flex w-auto justify-center">
    <table class="table table-zebra w-auto">
        <!-- head -->
        <thead *ngIf="students.length > 0">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="students.length === 0">
                <td colspan="3" class="text-center text-gray-500">No data available</td>
            </tr>
            <tr *ngFor="let student of students">
                <td></td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
            </tr>
        </tbody>
    </table>
</div>